


div, span, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, input, textarea, select, button, a {
  margin:0;
  padding:0;
}
button {
  background:transparent;
  border:0;
}
html, body {
  height:100%;
}

.blind {
  position: absolute;
  top:0;
  left:0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}

#wrap {
  height:100%;
}

.image-swiper {
  height:100%;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 300ms ease-in-out;
  &.active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
}

.btn-close {
  display:block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  &:after, &:before {
    content:'';
    display:block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top:0;
    left: 0;
  }
  &:after {
    transform: translateY(15px) rotateZ(45deg);
  }

  &:before {
    transform: translateY(15px) rotateZ(-45deg);
  }
}


.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-wrapper {
    .swiper-slide {
      background-position:50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      &.cardnews-cover {
        background-size: cover;
        .cover-content {
          height:100%;
          background-image: url(/common/images/bg/cardnews_dimm.png);
          background-repeat: repeat-x;
          background-size: contain;
        }
      }
    }
  }
}
